@media only screen and (min-width: 1536px) {
.columnOne {
    width: 15em;
}

.columnTwo {
    width: 40em;
}

.userContainer {
    position: absolute;
    top: 6em;
    width: 100%;
}
.userProfile {
    overflow: auto;
    position: absolute;
    right: 27em;
    top: -1em;
    width: 50em;
    height: 30em;
    margin-left: 1em;
    border-style: solid;
    border-width: 1em;
    border-color: #666666;
}

#firstNameRow {
    position: absolute;
    top: 2em;
    left: 1em;
}

#firstNameColumn {
    position: absolute;
    top: .51em;
    left: 3.2em;
    width: 13em;
}

#lastNameRow {
    position: absolute;
    top: 2em;
    left: 24em;
}

#lastNameColumn {
    position: absolute;
    top: 1em;
    left: 30em;
    width: 13em;
}

#streetRow {
    position: absolute;
    top: 5.8em;
    left: 2em;
}

#streetColumn {
    position: absolute;
    top: 2.3em;
    left: 3.2em;
    width: 13em;
}

#cityRow {
    position: absolute;
    top: 5.8em;
    left: 25em;
}

#cityColumn {
    position: absolute;
    top: 2.3em;
    left: 15.5em;
    width: 13em;
}

#stateRow {
    position: absolute;
    top: 9.8em;
    left: 25em;
}

#stateColumn {
    position: absolute;
    top: 4.2em;
    left: 15.5em;
    width: 13em;
}

#zipRow {
    position: absolute;
    top: 9.8em;
    left: 2em;
}

#zipColumn {
    position: absolute;
    top: 4.2em;
    left: 3.2em;
    width: 13em;
}

#phoneRow {
    position: absolute;
    top: 14em;
    left: 11em;
}

#phoneColumn {
    position: absolute;
    top: 6.3em;
    left: 9.8em;
    width: 13em;
}

.saveButton {
    position: absolute;
    top: 18em;
    left: 12em;
}

.historyButton {
    position: absolute;
    top: 18em;
    left: 30em;
}
.saveButton, .historyButton {
    background: #666666;
    border-radius: 20px;
    color: #EEEEEE;
    cursor: pointer;
    font-weight: 600px;
    height: 3em;
    justify-self: center;
    margin-top: 1em;
    width: 15%;
  }
}

@media only screen and (min-width: 1920px) {
    .columnOne {
        width: 15em;
    }
    
    .columnTwo {
        width: 40em;
    }
    
    .userContainer {
        position: absolute;
        top: 6em;
        width: 100%;
    }
    .userProfile {
        position: absolute;
        right: 40em;
        top: 2em;
        width: 50em;
        height: 30em;
        margin-left: 1em;
        border-style: solid;
        border-width: 1em;
        border-color: #666666;
    }
    
    #firstNameRow {
        position: absolute;
        top: 2em;
        left: 1em;
    }
    
    #firstNameColumn {
        position: absolute;
        top: .51em;
        left: 3.2em;
        width: 13em;
    }
    
    #lastNameRow {
        position: absolute;
        top: 2em;
        left: 24em;
    }
    
    #lastNameColumn {
        position: absolute;
        top: 1em;
        left: 30em;
        width: 13em;
    }
    
    #streetRow {
        position: absolute;
        top: 5.8em;
        left: 2em;
    }
    
    #streetColumn {
        position: absolute;
        top: 2.3em;
        left: 3.2em;
        width: 13em;
    }
    
    #cityRow {
        position: absolute;
        top: 5.8em;
        left: 25em;
    }
    
    #cityColumn {
        position: absolute;
        top: 2.3em;
        left: 15.5em;
        width: 13em;
    }
    
    #stateRow {
        position: absolute;
        top: 9.8em;
        left: 25em;
    }
    
    #stateColumn {
        position: absolute;
        top: 4.2em;
        left: 15.5em;
        width: 13em;
    }
    
    #zipRow {
        position: absolute;
        top: 9.8em;
        left: 2em;
    }
    
    #zipColumn {
        position: absolute;
        top: 4.2em;
        left: 3.2em;
        width: 13em;
    }
    
    #phoneRow {
        position: absolute;
        top: 14em;
        left: 11em;
    }
    
    #phoneColumn {
        position: absolute;
        top: 6.3em;
        left: 9.8em;
        width: 13em;
    }
    
    .saveButton {
        position: absolute;
        top: 18em;
        left: 12em;
    }
    
    .historyButton {
        position: absolute;
        top: 18em;
        left: 30em;
    }
    .saveButton, .historyButton {
        background: #666666;
        border-radius: 20px;
        color: #EEEEEE;
        cursor: pointer;
        font-weight: 600px;
        height: 3em;
        justify-self: center;
        margin-top: 1em;
        width: 15%;
      }
    }