.collapsible {
    position: relative;
    background-color: transparent;
}


.filterContents {
    margin-right: 20px;
    margin-left: 20px;
    vertical-align: middle;
}

.filterColor {
    display: inline-flex;
    margin-left: 20px
}

.square {
    width: 22px;
    height: 22px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}