.collapsible {
    position: relative;
    background: transparent;
}

.filterContents {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}

.filterColor {
    display: inline-flex;
    margin-left: 20px;
}