.sidenav-overlay {
    height: 0px;
    width: 0px;
}

.invisible-top {
    top: 56px;
}

.sidenav-trigger {
  position: fixed;
  margin-top: 15px;
}

.sidenav-close {
  margin-top: 5px;
  float: right;
}
