body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  display: flex;
  align-items: left;
  transition: all 0.7s ease-in;
  position: fixed;
  z-index: 1;
  background-color: #ea526f;
  padding-top: 0px;
  padding-bottom: 5px;
}

.sitelogo {
  position: absolute;
  width: 33.3em;
  height: 3.5em;
}

.cartlogo {
  position: absolute;
  right: 0em;
}

.login {
  margin-top: 0.5em;
  position: absolute;
  right: 2.0em;
  width: 33.3em;
  height: 3.5em;
}

.header button {
  margin-top: 5px;
  height: 42px;
  width: 100px;
  position: absolute;
  right: 70px;
}

.logo,
.cart {
  padding: 0px;
  width: 80px;
  height: 70px;
}

.mainbody,
.checkoutBody {
  padding-top: 60px;
}
