.container {
  display: block;
  grid-template-columns: 1fr;
  gap: 1em
}

.inputVals {
	padding: 0em 2em;
  margin-left: 10px;
	margin-bottom: 5px;
}

.errMsg {
  color: red;
  font-size: 14px;
  margin: 0px 2px 4px 4px;
}

.addButton {
	background-color: rgb(155, 226, 155);
	margin-top: 15px;
	margin-left: 70px;
}